h2 {
  color: #314c53;
  margin-bottom: 1.2rem;
  font-size: 1.4rem;
}

/* Lista */
ul {
  list-style: none;
  padding: 0;
}

/* Item */
li {
  background-color: #f7f8fc;
  border: 1px solid #bbdec6;
  border-left: 6px solid #5a7f78;
  border-radius: 10px;
  padding: 1rem;
  margin-bottom: 0.8rem;

  display: flex;
  justify-content: space-between;
  align-items: center;

  transition: 0.2s;
}

li:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.08);
}

/* Texto */
li strong {
  color: #010300;
  font-size: 1rem;
}

/* Botão */
button {
  background-color: #314c53;
  color: #f7f8fc;
  border: none;
  padding: 0.45rem 0.9rem;
  border-radius: 8px;
  cursor: pointer;
  font-size: 0.85rem;
  transition: 0.2s;
}

button:hover {
  background-color: #010300;
}
.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
}

/* Botão voltar */
.btn-voltar {
  background-color: #314c53; /* color2 */
  color: #f7f8fc;
  padding: 0.45rem 0.9rem;
  border-radius: 8px;
  text-decoration: none;
  font-size: 0.85rem;
  transition: 0.2s;
}

.btn-voltar:hover {
  background-color: #010300; /* color1 */
}
