<section class="container">
  <header>
    <input
      type="text"
      placeholder="Buscar atividade..."
      [formControl]="busca"
    />

    <select [formControl]="ordenacao">
      <option value="data">Mais recentes</option>
      <option value="titulo">Título</option>
    </select>
  </header>

  @if (carregando()) {
    <div class="skeleton-list">
      @for (_ of [1,2,3,4,5]; track $index) {
        <div class="skeleton"></div>
      }
    </div>
  } @else {
    <ul>
      @for (atividade of atividades(); track atividade.id) {
        <li @fade>
          <div>
            <h3>{{ atividade.titulo }}</h3>
            <p>{{ atividade.descricao }}</p>
          </div>
          <button class="btn btn-danger"
          (click)="confirmarRemocao(atividade.id)"> Excluir</button>

        </li>
      }
    </ul>
  }
</section>
