<section class="container">
  <form [formGroup]="form" (ngSubmit)="salvar()">

    <h2>Nova Atividade</h2>

    <label>Título</label>
    <input type="text" formControlName="titulo">
    @if (submitted && form.controls['titulo'].invalid) {
      <small class="error">Título inválido</small>
    }

    <label>Descrição</label>
    <textarea rows="4" formControlName="descricao"></textarea>
    @if (submitted && form.controls['descricao'].invalid) {
      <small class="error">Descrição inválida</small>
    }

    <button type="submit">Salvar</button>
  </form>
</section>
