h3 {
  color: #314c53;
  margin-bottom: 1.2rem;
  font-size: 1.4rem;
}

/* Formulário */
form {
  background-color: #f7f8fc;
  border: 1px solid #bbdec6;
  border-radius: 12px;
  padding: 1.5rem;

  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/* Inputs */
input,
textarea {
  width: 100%;
  padding: 0.6rem 0.7rem;
  border-radius: 8px;
  border: 1px solid #bbdec6;
  font-size: 0.9rem;
}

input:focus,
textarea:focus {
  outline: none;
  border-color: #5a7f78;
  box-shadow: 0 0 0 2px rgba(90, 127, 120, 0.2);
}

/* Botão */
button {
  background-color: #5a7f78;
  color: #f7f8fc;
  border: none;
  padding: 0.65rem;
  border-radius: 10px;
  cursor: pointer;
  font-size: 0.9rem;
  transition: 0.2s;
}

button:hover {
  background-color: #314c53;
}
.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
}

.btn-voltar {
  background-color: #314c53;
  color: #f7f8fc;
  padding: 0.45rem 0.9rem;
  border-radius: 8px;
  text-decoration: none;
  font-size: 0.85rem;
  transition: 0.2s;
}

.btn-voltar:hover {
  background-color: #010300;
}
